.DS_Store
._*
.coverage
.pytest_cache/
.python-packages/
.venv/
__pycache__/
*.py[cod]

db.sqlite3
media/

mobile-app/node_modules/
mobile-app/.expo/
mobile-app/dist/
mobile-app/.env

.idea/
.vscode/
